body {
    width: 100%; 
    font-family: 'Nunito', sans-serif;

}

main {
    width: 100%;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
} 

header h1 {
    font-family: 'Fredericka the Great', cursive;
    margin: 3rem auto;
    font-size: 4rem;
    background-color: #161616;
    color:white;
    padding: 2rem;
}

.picker {
    display: flex;
    justify-content: space-around;
}

.central {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
}

#central-grid {
margin: 4rem auto;
width: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.grid-cell {

    border: 1px solid black;
    background-color: lightgrey
}

footer {
    margin: 2rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > a {
    margin-left: 0.3rem;
}